.infos-bar{
    padding: 16px 24px;
    background-color: #ffffff5e;
    display: flex;
    justify-content: space-between;

    &__infos{
        display: flex;
        gap: 40px;

        &__item{
            font-size: 14px;
            color: #000;

            b{
                font-size: 18px;
                display: block;
                color: #000;
            }
        }
    }

    @media (max-width: 700px){
        display: block;

        &__infos{
            display: block;
            text-align: center;

            &__item{
                margin-bottom: 24px;
            }
        }
    }
}